@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-black: #1B1A1A;
    --color-dark-gray: #403E3B;
    --color-gray: #645C55;
    --color-white: #FFFFFF;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header */

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 600;
    padding: 36px 32px;
}

.logo span {
    font-weight: 900;
    color: #000;
}

.nav-list {
    display: flex;
    gap: 31px;
    align-items: center;
    margin-top: 10px;
}

.nav-link {
    color: var(--color-black);
}

.get-template {
    border: 2px solid var(--color-black);
    border-radius: 15px;
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 11px 20px;
}

/* main */
/* architecture-section */

.architecture {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.text-content {
    max-width: 509px;
    padding-top: 77px;
    margin-right: 50px;
}

.logo-main {
    font-size: 14px;
    color: var(--color-gray);
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-headline {
    font-size: 64px;
    color: var(--color-black);
    line-height: 70.4px;
    margin-bottom: 18px;
}

.architecture p {
    color: var(--color-dark-gray);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.more {
    font-size: 16px;
    color: var(--color-black);
    line-height: 24px;
    letter-spacing: 0.4px;
    padding: 30px 45px 40px;
}

.main-img {
    width: 720px;
    height: 720px;
    object-fit: cover;
    margin-bottom: 100px;
}

/* firm-section */

.firm-section {
    max-width: 768px;
    margin: 0 auto;
}

.firm-header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

}

.firm-logo {
    font-size: 32px;
    line-height: 38px;
    color: var(--color-dark-gray);
}

.firm-section p {
    width: 493px;
    line-height: 24px;
    color: var(--color-dark-gray);
    margin-bottom: 10px;
}

.autor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.autor span {
    font-size: 17px;
    line-height: 26px;
    color: var(--color-black);
}

.autor {
    font-size: 14px;
    line-height: 14px;
    color: var(--color-gray);
    margin-left: 30px;
}


/* reeding-house section */

.house-section {
    width: 1440px;
    height: 600px;

    display: flex;
    align-items: center;
    justify-content: end;

    margin: 0 auto;

    background-image: url('../img/reading-house.png');
    background-repeat: no-repeat;
}

.house-logo {
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-dark-gray);
}

.house-logo p {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
}

/* process-section */

.processes-section {
    max-width: 1200px;
    margin: 0 auto;
}

.process-content {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--color-gray);
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 13px;
}

.processes-title {
    font-size: 39px;
    line-height: 42px;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 40px;
}

.skills-items {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.item {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    align-self: center;
    margin-bottom: 8px;
}

.item h3 {
    font-size: 18px;
    line-height: 26px;
    color: var(--color-dark-gray);
    text-align: center;
    margin-bottom: 8px;
}

.item p {
    font-size: 15px;
    line-height: 24px;
    color: var(--color-gray);
    text-align: center;
    margin-top: 0px;
    max-width: 294px;
}

/* staircase */

.staircase-section {
    width: 1440px;
    height: 600px;

    margin: 0 auto;

    display: flex;
    justify-content: end;
    align-items: center;

    background-image: url('../img/stairs.png');
    background-repeat: no-repeat;
}

.staircase-text {
    max-width: 300px;
    margin-right: 60px;
}

.staircase-title {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-dark-gray);
}

.staircase-content p {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray);
}

/* client-section */

.client-section {
    max-width: 1440px;
    max-height: 410px;
    background-color: var(--color-dark-gray);
    margin: 0 auto;
}

.client-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 125px 136px;

}

.client-container {
    max-width: 460px;
}

.prior-clients {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #ECE7E4;
    text-transform: uppercase;
}

.client-container h2 {
    font-size: 32px;
    line-height: 38px;
    color: var(--color-white);
    margin-bottom: 14px;
}

.client-container p {
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}

.logos-row {
    max-width: 432px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 96px;
}

/* swirling-staircase-section */

.swirling-staircase-section {
    width: 1440px;
    height: 600px;

    margin: 0 auto;

    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url('../img/stair2.png');
    background-repeat: no-repeat;
}

.swirling-staircase-section .staircase-text {
    margin-left: 60px;
}

/* feature-section */

.feature-section {
    max-width: 1440px;
    margin: 0 auto;
}

.feature-content {
    padding: 120px 136px 40px;
}

.feature-title {
    font-size: 39px;
    line-height: 42px;
    color: var(--color-black);
    margin-bottom: 15px;
}

.feature-description {
    font-size: 24px;
    line-height: 30px;
    color: var(--color-gray);
}

.features-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.feature-item {
    position: relative;
}

.feature-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px;
}

.feature-overlay h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--color-gray);
}

.feature-overlay p {
    font-size: 23px;
    line-height: 30px;
    color: var(--color-dark-gray);
}

.feature-button {
    position: absolute;
    top: 0;
    padding: 315px 25px 40px;
}

.read-more {
    width: 136px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid var(--color-black);
    border-radius: 15px;
    background-color: var(--color-black);
    color: var(--color-white);
    transition: background-color 0.3s ease-in;
}

.read-more:hover {
    color: var(--color-black);
    background-color: var(--color-white);
    border-color: var(--color-white);
}

.projects {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--color-black);
}

/* team-section */

.team-section {
    max-width: 1200px;
    margin: 0 auto;
}

.team-container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 100px;
}

.team-content {
    max-width: 380px;
}

.team-content h2 {
    font-size: 32px;
    line-height: 38px;
    color: var(--color-dark-gray);
    margin-bottom: 14px;
}

.team-content p {
    font-size: 15px;
    line-height: 24px;
    color: var(--color-gray);
    margin-bottom: 41px;
}

.team-btn {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-left: 25px;
}

.team-logo {
    max-width: 775px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.team-item {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 30px;
}

.team-item:last-child {
    margin-bottom: 120px;
}

.team-member {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* communication-section */

.communication-section {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #CEC4BC;
    position: relative;
}

.communication-container {
    display: block;
    padding: 100px 136px;
}

.communication-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--color-gray);
    text-transform: uppercase;
}

.communication-container h1 {
    font-size: 40px;
    line-height: 42px;
    color: var(--color-black);
}

.link-container {
    position: absolute;
    top: 160px;
    right: 156px;
}

.link-container a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--color-black);
}

/* footer-container */

footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 136px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1 {
    max-width: 256px;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-black);
    margin-bottom: 20px;
}

footer span {
    font-weight: bold;
}

footer p {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-gray);
}

.socials {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 25px;
}

.social-item a {
    display: flex;
    align-items: center;
    justify-content: center;
}